{% include 'menu.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Buscador</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <section class="bg-custom" id="about">
        <div class="container-fluid">
            <h1 class="mt-5 mb-4">Buscador de canciones</h1>
            <div class="mb-3">
                <form action="/buscar" method="POST">
                    <div class="input-group">
                        <input type="search" class="form-control rounded" name="query" placeholder="Buscar por nombre, artista o album" aria-label="Search" aria-describedby="search-addon" />
                        <button type="submit" class="btn btn-outline-primary">Buscar</button>
                    </div>
                </form>
            </div>    
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-md-5 g-6">
                    {% for cancion in canciones %}
                    <div class="col-md-2">
                        <div class="card mt-4">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img class="card-img-top" src="{{ cancion.imagen }}" alt="Portada del álbum">
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body text-center">
                                <h5 class="h5 font-weight-bold"><a target="_blank">{{ cancion.nombre }} - {{ cancion.duracion }}</a></h5>
                                <p class="mb-0">{{ cancion.artista }}</p>
                                <p class="mb-0"><a href="{{ cancion.album_enlace }}" target="_blank">{{ cancion.fecha[:4] }} - {{ cancion.album_nombre }}</a></p>
                                <div class="controls">
                                    <a href="{{ cancion.enlace }}" target="_blank" class="btn btn-primary">Reproducir en Spotify</a>
                                    <form action="/agregar_favorita/{{ loop.index }}" method="post">
                                        <input type="hidden" name="id" value="{{ loop.index }}">
                                        <input type="hidden" name="nombre" value="{{ cancion.nombre }}">
                                        <input type="hidden" name="artista" value="{{ cancion.artista }}">
                                        <input type="hidden" name="enlace" value="{{ cancion.enlace }}">
                                        <input type="hidden" name="imagen" value="{{ cancion.imagen }}">
                                        <input type="hidden" name="fecha" value="{{ cancion.fecha }}">
                                        <input type="hidden" name="duracion" value="{{ cancion.duracion }}">
                                        <input type="hidden" name="album_enlace" value="{{ cancion.album_enlace }}">
                                        <input type="hidden" name="album_nombre" value="{{ cancion.album_nombre }}">
                                        <button type="submit" class="btn btn-success" style="margin-top: 20px; margin-left: 100px; border: 2px">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container px-4"><p class="m-0 text-center text-white">Realizado por: andresfr1409</p></div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>
