{% include 'menu.html' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body id="page-top">
    <!-- Header-->
    <header class="bg-dark bg-gradient text-white" style="height: 50vh">
        <div class="container-fluid px-7 text-center" style="padding-top: 110px">
            <h1 class="fw-bolder">¡Bienvenido a Mi Reproductor de Música!</h1>
            <p class="lead">Aquí podrás buscar y guardar tus canciones favoritas.</p>
            <hr class="my-4">   
            <p>Explora millones de canciones y crea tu propia biblioteca de favoritas.</p>
            <a class="btn btn-lg btn-light" href="{{ url_for('index') }}">Comenzar</a>
        </div>
    </header>
    <!-- About section-->
    <section class="bg-dark" id="about bg-dark">
        <div class="container px-4" >
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8" style="margin-left: 900px">
                    <div class="card mb-3">
                        <img src="https://fotografias.lasexta.com/clipping/cmsimages01/2019/10/16/B3DC116A-CE82-4791-935A-18E13630923F/default.jpg?crop=1300,731,x0,y12&width=1900&height=1069&optimize=low" class="card-img-top" style="height:300px">
                        <div class="card-body">
                                <p class="lead">Explora un amplio catálogo de canciones, artistas y álbumes de diferentes géneros.
                                Crea tu biblioteca personalizada y descubre nuevos éxitos musicales</p>
                            <ul>
                                <li>Conoce detalles sobre los artistas y accede a enlaces directos para escuchar la música en Spotify.</li>
                                <li>Guarda tus canciones favoritas en tu biblioteca personal para acceder a ellas en cualquier momento.</li>
                                <li>Explora, descubre y disfruta de la música que te apasiona en nuestra página web de reproducción de música con la magia de la API de Spotify.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  
    <!-- Services section-->
    <section class="bg-dark" id="services">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8" style="margin-right: 900px;">
                    <div class="card mb-3">
                        <img src="https://fotografias.lasexta.com/clipping/cmsimages01/2019/10/16/B3DC116A-CE82-4791-935A-18E13630923F/default.jpg?crop=1300,731,x0,y12&width=1900&height=1069&optimize=low" class="card-img-top" style="height:300px">
                        <div class="card-body">
                                <p class="lead">Explora un amplio catálogo de canciones, artistas y álbumes de diferentes géneros.
                                Crea tu biblioteca personalizada y descubre nuevos éxitos musicales</p>
                            <ul>
                                <li>Conoce detalles sobre los artistas y accede a enlaces directos para escuchar la música en Spotify.</li>
                                <li>Guarda tus canciones favoritas en tu biblioteca personal para acceder a ellas en cualquier momento.</li>
                                <li>Explora, descubre y disfruta de la música que te apasiona en nuestra página web de reproducción de música con la magia de la API de Spotify.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-4 bg-dark">
        <div class="container px-4"><p class="m-0 text-center text-white">Realizado por: andresfr1409</p></div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>

